/* Global Styles
------------------------------------- */
html{
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.parent-wrapper {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* Construction Styles
------------------------------------- */
html {
  border: #ff33cc 5px solid;
}

body {
  border: yellow 5px solid;
  /* background-color: hsla(120, 100%, 50%, 0.2); */
  background-color: hsl(68, 100%, 93%);
}

h1, h2, h3, p, section, ul, .btn, img, header, footer, div, main {
  border: lime 3px solid;
  background-color: hsla(120, 100%, 50%, 0.2);
}
